streamlit
python-dotenv
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.35
langchain-google-genai
langchain-chroma
chromadb==0.5.5
pypdf
beautifulsoup4
requests
langchain-text-splitters
pysqlite3-binary
